{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block content %}

	<section>
		<h1>Les derniers articles</h1>
		<div class="card mb-3">
			<div class="card-body">
				<h2>titre</h2>
				<small class="text-info">Publié le publishedAt</small>
				<p>excerpt</p>
			</div>
		</div>
	</section>

{% endblock %}
