{% extends 'base.html.twig' %}

{% block title %}Posts
{% endblock %}

{% block content %}

	<section class="row">
		<div class="col-md-8">
			<h1>Liste des articles</h1>
			{% for post in posts %}
				<div class="card mb-3">
					<div class="card-body">
						<h2>{{ post.getTitle() }}</h2>
						<small class="text-info">Mise à jour le
							{{ post.getPublishedAt()|date("d/m/Y") }}
						</small>
						<p>{{ post.getExcerpt() }}</p>
						<a href="/posts/{{ post.getId() }}" class="btn btn-primary">Lire l'article</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>

{% endblock %}
